body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;

  --color-primary: #41B3A3;
  --color-secondary: #78CDD1;
  --color-tertiary: #C38D9E;
  --color-accent: #E27D60;

  --color-text-light: rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", monospace;
}

pre {
  font-family: "Source Code Pro", monospace;
}

h1 {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
}

.content {
  width: 70%;
  max-width: 960px;
  min-width: 500px;
  margin: auto;
}
