.container {
}

.skills {
  list-style-type: none;
  padding-left: 0px;
}

.skill {
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-top: 3px;
  border-radius: 2px;
  height: 1.5em;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;

  animation-name: background-position;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
	background-size: 400% 400%;
}

.skill > span {
  width: 10em;
}

.expert {
  width: 100%;
  animation-duration: 15s;
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary), var(--color-primary), var(--color-secondary));
  background-size: 400% 400%;
}

.advanced {
  width: 90%;
  animation-duration: 17s;
  background: linear-gradient(45deg, var(--color-secondary), var(--color-tertiary), var(--color-secondary), var(--color-tertiary));
  background-size: 400% 400%;
}

.intermediate {
  width: 80%;
  animation-duration: 18s;
  background: linear-gradient(45deg, var(--color-tertiary), var(--color-secondary), var(--color-tertiary), var(--color-secondary));
  background-size: 400% 400%;
}

.beginner {
  width: 60%;
  animation-duration: 19s;
  background: linear-gradient(45deg, var(--color-tertiary), var(--color-accent), var(--color-tertiary), var(--color-accent));
  background-size: 400% 400%;
}

.showcases {
  display: none;
  padding: 0.3em;
}

@keyframes background-position {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
